@charset 'utf-8';

#jssor_1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.caption div {
    text-align: center;
}

.caption h1 {
    font-size: 50px;
}

.caption2 h1{
    font-size: 25px;
}

#brandB {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    /*

background: linear-gradient(to right, #E2E2E2, #C9D6FF); 
*/
    background: url(/images/brand.jpg) no-repeat center;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#brandB div {
    text-align: center;
}

#brandB h1 {
    font-size: 50px;
}

h1 span {
    color: #d50037;
}

#brandB p {
    margin-top: 40px;
    font-size: 18px;
    color: #fff;
}

#brandC {
    width: 100%;
    padding-top: 20px;
    
    background: url(/images/brand_bg.jpg) no-repeat center;
    background-size: cover;
}

#brandC2{
    width: 100%; max-width:1200px; margin: auto; 
}

#Chead{
    background: rgba(0,0,0,.8);
    width: 400px; margin:auto;
}

#brandC h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding: 10px;
}

#CoutBox {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
}

.Cbox {
    width: calc((100% - 40px) / 3);
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    background:  rgba(0,0,0,.5);
}

#coffeeList{
    list-style: none;
    background: #fff;
    padding: 20px;
}

.Cbox:last-child{
    margin-right: 0;
}

.Cbox img {
     width: 50%; display: block;
}

.list{
    margin-bottom: 20px;
}

.list:first-child{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    display: flex; justify-content: center; align-items: center;flex-wrap: wrap;
}

.list:first-child h3{
    width: 100%;
    font-size: 23px;
    font-weight: 700;
}

.list:first-child p{
    color: darkgoldenrod;
}

.color2{
    color: orange !important;
}

.cook{
    color: coral !important;
    font-size: 10px;
    margin-right: 5px;
}
.Cbox h3 {
    text-align: center;
    padding: 5px;
    font-size: 20px;
}

.Cbox p {
    text-align: center;
    font-size: 18px;
    color: #777;
    line-height: 25px;
}

#brandD {
    width: 100%;
    max-width: 1200px;
    margin:50px auto;
}

.head{
    color: #e6b9b8;
    padding: 5px 10px;
    text-shadow: 2px 2px 2px #777;
    font-size: 40px;
}

#brandD h1 {
/*    text-align: center;*/
    margin-bottom: 10px;
    font-size: 30px;
}

.DoutBox {
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.DoutBox:last-child{
    flex-direction: row-reverse;
}

.Dbox {
    width: 46%;
    padding: 10px;
}

.Dbox img {
    margin-top: 10px;
    width: 100%; display: block;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #aaa;
}


.Dbox h3 {
     padding-left: 20px;
}


.Dbox p {
    padding: 20px;
    font-size: 18px;
    color: #000;
    line-height: 35px;
}

@media screen and (max-width :700px) {
    
    .Cbox:last-child{
        margin-right: 20px;
    }
    
    .Cbox {
        width: 100%;
        margin: 20px;
    }
    
    
    
    .Dbox {
        width: 100%;
    }
    
}

@media screen and (max-width :500px) {
    .head{
        font-size: 30px;
        white-space: nowrap;
    }
    
    .Dbox h1{
        text-align: center;
        padding-bottom: 20px;
    }
    
    #Chead h1{
        font-size: 30px;
    }
}
