@charset "utf-8";

button {
    cursor: pointer;
}

#menuB {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 20px;
    border-bottom: 1.5px solid #aaa;
    display: flex; justify-content: center;
}

.Bbox{
    display: flex;
    margin-right: 20px;
}

.checkbox{
    width: 100px; line-height: 30px;
    background: #eee;
    margin: 5px;
    color: #333;
    border: none;
    cursor: pointer; transition: .3s;
}

.checkbox:hover{
    background: #000;
    color: #fff;
}

.active{
    background: #000;
    color: #fff;
}

#menuC {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
}

.menuC__box {
    width: calc((100% - 40px) / 4);
    margin: 0 5px;
    margin-bottom: 5px;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.modal2{
    position: absolute;
    width: 100%;
    top:0; left: 0;
    background: #e6b9b8;
    display: flex; justify-content: center; align-items: center;
    color: #fff; font-size: 18px;
    transition: .3s; transform: translateY(-30px);
}

.menuC__box:hover .modal2{
    transform: translateY(0px);
}

.menuModal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    border: 2px solid black;
    padding: 10px;
    z-index: 2;
    display: none;
}

.menuModal h3 {
    padding-bottom: 10px;
}

.menuModal p {
    margin-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td:first-child {
    width: 50%;
}

td {
    border-bottom: 1px solid black;
    padding: 5px;
    font-size: 0.9rem;
}

.modalClose {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 9;
}

.modalClose:hover {
    background: #fff;
}

.new::after {
    position: absolute;
    content: "NEW";
    top: 20px;
    left: 0;
    width: 50px;
    padding:0 5px;
    text-align: center;
    background: #000;
    color: #fff;
    box-shadow: 2px 2px 2px #aaa;
    transition: .3s;
}

.new:hover:after {
    top: 30px;
    opacity: .7;
}

.hot2::after {
    position: absolute;
    content: "HOT";
    top: 20px;
    left: 0;
    width: 50px;
    padding:0 5px;
    text-align: center;
    background: #fff;
    color: #000;
    box-shadow: 2px 2px 2px #aaa;
    transition: .3s;
}

.hot2:hover:after {
    top: 30px;
    opacity: .7;
}

@keyframes afterRotate {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    to {
        transform: scale(1);
    }
}

.menu_img {
    transition: 0.5s;
    width: 100%;
    display: block;
}

.menu_img:hover {
    opacity: .7;
    box-shadow: 2px 2px 2px #777;
}

.menu_caption {
    margin: 20px 0;
    text-align: center;
}

#menuD {
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}

#buttonD {
    width: 100%;
    line-height: 50px;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .3s;
}

#buttonD:hover {
    background: #d50037;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .menuModal {
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 411px;
        padding: 10px;
    }
    .subBack2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }
}

@media screen and (max-width: 900px) {

    .menuC__box {
        width: calc((100% - 40px) / 3);
    }

}

@media screen and (max-width: 600px) {


    #menuB {
        display: block;
        padding: 0 20px;
    }

    #secButton {
        flex-wrap: wrap;
    }

    .menu_btn {
        width: 100%;
        line-height: 35px;
        font-size: 0.9rem;
    }

    .check-form {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .menuC__box {
        width: calc((100% - 20px) / 2);

    }



    .menu_caption h3 {
        font-size: 1rem;
    }

    .menu_caption p {
        font-size: .8rem;
    }

    .menuModal {
        position: fixed;
        background: rgba(255, 255, 255, 0.9);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 411px;
        padding: 10px;
    }

    .menuC__box:nth-child(3n) .menuModal {
        left: 50%;
        right: auto;
    }

    .subBack2 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: none;
    }

    #menuD {
        max-width: 200px;
    }

}
