@charset "utf-8";

#menuA {
    margin-top: 150px;
    width: 100%;
    position: relative;
    height: 450px;
}

#menuA__img {
    width: 100%;
    display: block;
}

#menuA__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    white-space: nowrap;
    
    animation: toTop 1s both;
}

@keyframes toTop {
    from {
        transform: translate(-50%, 0%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

#storeA {
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

#storeA h1 {
    padding: 20px;
}

#storeA div {
    width: 100%;
    height: 5px;
    border-bottom: 2px solid #545;
}





@media screen and (max-width: 900px) {
    #menuA {
        margin-top: 60px;
    }
}

@media screen and (max-width: 600px) {

    #menuA {
        height: 200px;
    }
}
@media screen and (max-width: 500px) {
    #menuA h1 {
        font-size: 1.3rem;
    }
}
